.double-click {
  min-height: 100vh;
  background-color: #333;
  color: #fff;
  user-select: none;
  .times {
    color: rgb(240, 85, 85);
  }
  .loveMe {
    height: 440px;
    width: 300px;
    background: url(https://images.unsplash.com/photo-1659290767390-0450c97881a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)
      no-repeat center center/cover;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    span {
      animation: fade 1s ease;
      transform: translate(-50%, -50%);
    }
    @keyframes fade {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        display: none;
        transform: scale(10);
      }
    }
  }
}
