.exercise-component {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  div {
    min-width: 100px;
    height: 80vh;
    transition: all 0.8s ease-in-out;
    user-select: none;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
    p {
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
    }
  }
}

.active {
  flex: 5;
}
